<%- include('./partials/head') %> 
<h1>Tu Carrito</h1>
<div class="container sm-6">
    <table class="table">
        <thead>
          <p><b>Uso de Memoria</b></p>
          <p><b>rss:</b> <%=error %></p>
          <tr>
            <th scope="col">Directorio</th>
            <th scope="col">Id del proceso</th>
            <th scope="col">Version</th>
            <th scope="col">Titulo</th>
            <th scope="col">Sistema</th>
          </tr>
        </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
     </table>
    </div>
    </body>
    </html>